<a href="https://colab.research.google.com/github/dmorton714/data-2-demo/blob/main/answers_healthcare.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import requests
import json
import urllib3
from pandas import json_normalize

Link to the first set of data (this is a JSON file):  https://www.healthit.gov/data/open-api?source=Surescripts_County_04-2014.csv
<br>
Use pandas to read this into a dataframe.
<br>
Helpful link: https://pandas.pydata.org/docs/reference/api/pandas.read_json.html
 <br>
 <br>
 <br>
Helpful links(for more complicated APIs):

https://realpython.com/api-integration-in-python/
<br>
https://www.dataquest.io/blog/python-api-tutorial/
<br>
https://pandas.pydata.org/docs/reference/api/pandas.json_normalize.html

In [2]:
Surescripts_Network = pd.read_json("https://www.healthit.gov/data/open-api?source=Surescripts_County_04-2014.csv")
Surescripts_Network.head()

,Region,Region Code,County Name,State FIPS,County FIPS,FIPS,Period,Percent of Physicians Actively Using an EHR to e-Prescribe via the Surescripts Network
0,Alabama,AL,Autauga,1.0,1.0,1001.0,2014-04,0.33
1,Alabama,AL,Baldwin,1.0,3.0,1003.0,2014-04,0.68
2,Alabama,AL,Barbour,1.0,5.0,1005.0,2014-04,0.52
3,Alabama,AL,Bibb,1.0,7.0,1007.0,2014-04,1.00
4,Alabama,AL,Blount,1.0,9.0,1009.0,2014-04,0.21

Now import the data from the following URL: https://raw.githubusercontent.com/dmorton714/data-2-demo/main/states.csv
<br>
kaggle link to the data: https://www.kaggle.com/datasets/hhs/health-insurance
<br>
Helpful links: 
<br>
https://codeigo.com/python/read-a-csv-file-from-a-url
<br>

In [3]:
aca_coverage = pd.read_csv("https://raw.githubusercontent.com/dmorton714/data-2-demo/main/states.csv")
aca_coverage.head()

,State,Uninsured Rate (2010),Uninsured Rate (2015),Uninsured Rate Change (2010-2015),Health Insurance Coverage Change (2010-2015),Employer Health Insurance Coverage (2015),Marketplace Health Insurance Coverage (2016),Marketplace Tax Credits (2016),Average Monthly Tax Credit (2016),State Medicaid Expansion (2016),Medicaid Enrollment (2013),Medicaid Enrollment (2016),Medicaid Enrollment Change (2013-2016),Medicare Enrollment (2016)
0,Alabama,14.6%,10.1%,-4.5%,215000,2545000,165534,152206,$310,False,799176.0,910775,111599.0,989855
1,Alaska,19.9%,14.9%,-5%,36000,390000,17995,16205,$750,True,122334.0,166625,44291.0,88966
2,Arizona,16.9%,10.8%,-6.1%,410000,3288000,179445,124346,$230,True,1201770.0,1716198,514428.0,1175624
3,Arkansas,17.5%,9.5%,-8%,234000,1365000,63357,56843,$306,True,556851.0,920194,363343.0,606146
4,California,18.5%,8.6%,-9.9%,3826000,19552000,1415428,1239893,$309,True,7755381.0,11843081,4087700.0,5829777

Inspect the data in the dataframes

1.   Verify rows of data in the dataframes. 
2.   List the columns. 
3.   Find the types in the dataframes.
4.   Visualize the first 10 rows. 
5.   Find the data types.

<h1> 1 Verify rows of data in the dataframes

In [4]:
aca_coverage.shape

(52, 14)

<h1>2 List the columns.

In [5]:
# different options for this below:  

# for col in aca_coverage.columns:
#     print(col)

# another option
# list(aca_coverage.columns)

# another option
# print(aca_coverage.keys())

# another one
# sorted(aca_coverage)

# last one
list(aca_coverage.columns.values.tolist())

['State',
 'Uninsured Rate (2010)',
 'Uninsured Rate (2015)',
 'Uninsured Rate Change (2010-2015)',
 'Health Insurance Coverage Change (2010-2015)',
 'Employer Health Insurance Coverage (2015)',
 'Marketplace Health Insurance Coverage (2016)',
 'Marketplace Tax Credits (2016)',
 'Average Monthly Tax Credit (2016)',
 'State Medicaid Expansion (2016)',
 'Medicaid Enrollment (2013)',
 'Medicaid Enrollment (2016)',
 'Medicaid Enrollment Change (2013-2016)',
 'Medicare Enrollment (2016)']

<h1> 3 Find the types in the dataframes.

In [6]:
aca_coverage.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 14 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   State                                         52 non-null     object
 1   Uninsured Rate (2010)                         52 non-null     object
 2   Uninsured Rate (2015)                         52 non-null     object
 3   Uninsured Rate Change (2010-2015)             52 non-null     object
 4   Health Insurance Coverage Change (2010-2015)  52 non-null     int64
 5   Employer Health Insurance Coverage (2015)     52 non-null     int64
 6   Marketplace Health Insurance Coverage (2016)  52 non-null     int64
 7   Marketplace Tax Credits (2016)                52 non-null     int64
 8   Average Monthly Tax Credit (2016)             52 non-null     object
 9   State Medicaid Expansion (2016)               51 non-null     object
 10  Medicaid Enrollment (2013)                    50 non-null     float64
 11  Medicaid Enrollment (2016)                    52 non-null     int64
 12  Medicaid Enrollment Change (2013-2016)        50 non-null     float64
 13  Medicare Enrollment (2016)                    52 non-null     int64
dtypes: float64(2), int64(6), object(6)
memory usage: 5.8+ KB

<h1> 4 Visualize the first 10 rows.

In [7]:
aca_coverage.head(10)

,State,Uninsured Rate (2010),Uninsured Rate (2015),Uninsured Rate Change (2010-2015),Health Insurance Coverage Change (2010-2015),Employer Health Insurance Coverage (2015),Marketplace Health Insurance Coverage (2016),Marketplace Tax Credits (2016),Average Monthly Tax Credit (2016),State Medicaid Expansion (2016),Medicaid Enrollment (2013),Medicaid Enrollment (2016),Medicaid Enrollment Change (2013-2016),Medicare Enrollment (2016)
0,Alabama,14.6%,10.1%,-4.5%,215000,2545000,165534,152206,$310,False,799176.0,910775,111599.0,989855
1,Alaska,19.9%,14.9%,-5%,36000,390000,17995,16205,$750,True,122334.0,166625,44291.0,88966
2,Arizona,16.9%,10.8%,-6.1%,410000,3288000,179445,124346,$230,True,1201770.0,1716198,514428.0,1175624
3,Arkansas,17.5%,9.5%,-8%,234000,1365000,63357,56843,$306,True,556851.0,920194,363343.0,606146
4,California,18.5%,8.6%,-9.9%,3826000,19552000,1415428,1239893,$309,True,7755381.0,11843081,4087700.0,5829777
5,Colorado,15.9%,8.1%,-7.8%,419000,2949000,108311,67062,$318,True,783420.0,1375264,591844.0,820234
6,Connecticut,9.1%,6%,-3.1%,110000,2148000,102917,80759,$357,True,NaN,761137,NaN,644136
7,Delaware,9.7%,5.9%,-3.8%,35000,564000,25379,21467,$330,True,223324.0,236702,13378.0,186835
8,District of Columbia,7.6%,3.8%,-3.8%,25000,388000,17666,1224,$183,True,235786.0,255491,19705.0,90492
9,Florida,21.3%,13.3%,-8%,1597000,8847000,1531714,1428712,$305,False,3104996.0,3644673,539677.0,4149593

<h1> 5 Find the data types.

In [8]:
aca_coverage.dtypes

State                                            object
Uninsured Rate (2010)                            object
Uninsured Rate (2015)                            object
Uninsured Rate Change (2010-2015)                object
Health Insurance Coverage Change (2010-2015)      int64
Employer Health Insurance Coverage (2015)         int64
Marketplace Health Insurance Coverage (2016)      int64
Marketplace Tax Credits (2016)                    int64
Average Monthly Tax Credit (2016)                object
State Medicaid Expansion (2016)                  object
Medicaid Enrollment (2013)                      float64
Medicaid Enrollment (2016)                        int64
Medicaid Enrollment Change (2013-2016)          float64
Medicare Enrollment (2016)                        int64
dtype: object

Convert column types to meaningful types 


1.   Convert one column to string
2.   Convert one column to float 
3.   Convert one column to bool 
4.   Convert one column to int
5.   Convert one column to datetime

<h1> 1 Convert one column to string

In [9]:
aca_coverage['State'] = aca_coverage['State'].astype('string')
aca_coverage.dtypes

State                                            string
Uninsured Rate (2010)                            object
Uninsured Rate (2015)                            object
Uninsured Rate Change (2010-2015)                object
Health Insurance Coverage Change (2010-2015)      int64
Employer Health Insurance Coverage (2015)         int64
Marketplace Health Insurance Coverage (2016)      int64
Marketplace Tax Credits (2016)                    int64
Average Monthly Tax Credit (2016)                object
State Medicaid Expansion (2016)                  object
Medicaid Enrollment (2013)                      float64
Medicaid Enrollment (2016)                        int64
Medicaid Enrollment Change (2013-2016)          float64
Medicare Enrollment (2016)                        int64
dtype: object

<h1> 2 Convert one column to float</h1>

In [10]:
aca_coverage['Marketplace Tax Credits (2016)'] = aca_coverage['Marketplace Tax Credits (2016)'].astype('float')
aca_coverage.dtypes

State                                            string
Uninsured Rate (2010)                            object
Uninsured Rate (2015)                            object
Uninsured Rate Change (2010-2015)                object
Health Insurance Coverage Change (2010-2015)      int64
Employer Health Insurance Coverage (2015)         int64
Marketplace Health Insurance Coverage (2016)      int64
Marketplace Tax Credits (2016)                  float64
Average Monthly Tax Credit (2016)                object
State Medicaid Expansion (2016)                  object
Medicaid Enrollment (2013)                      float64
Medicaid Enrollment (2016)                        int64
Medicaid Enrollment Change (2013-2016)          float64
Medicare Enrollment (2016)                        int64
dtype: object

<h1> 3 Convert one column to bool

In [11]:
aca_coverage['State Medicaid Expansion (2016)'] = aca_coverage['State Medicaid Expansion (2016)'].astype('bool')
aca_coverage.dtypes

State                                            string
Uninsured Rate (2010)                            object
Uninsured Rate (2015)                            object
Uninsured Rate Change (2010-2015)                object
Health Insurance Coverage Change (2010-2015)      int64
Employer Health Insurance Coverage (2015)         int64
Marketplace Health Insurance Coverage (2016)      int64
Marketplace Tax Credits (2016)                  float64
Average Monthly Tax Credit (2016)                object
State Medicaid Expansion (2016)                    bool
Medicaid Enrollment (2013)                      float64
Medicaid Enrollment (2016)                        int64
Medicaid Enrollment Change (2013-2016)          float64
Medicare Enrollment (2016)                        int64
dtype: object

<h1> 4 Convert one column to int

In [12]:
# Explains the code below:
# aca_coverage['Average Monthly Tax Credit (2016)'] is us calling the column we are wanting the code to work in. 
# aca_coverage['Average Monthly Tax Credit (2016)'] = aca_coverage['A... is writing over the column so the values stay in place when called later. 
# .str.replace(' ', ''), it replaces all occurrences of a space with an empty string, effectively removing the spaces from each element in the DataFrame column.
# .str.lstrip("$") left strips the $ as its to the left of the object
# finally the .astype('int') converts the object to an int now that it meets the Required parameters

aca_coverage['Average Monthly Tax Credit (2016)'] = aca_coverage['Average Monthly Tax Credit (2016)'].str.replace(' ', '').str.lstrip("$").astype('int')
aca_coverage.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 14 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   State                                         52 non-null     string
 1   Uninsured Rate (2010)                         52 non-null     object
 2   Uninsured Rate (2015)                         52 non-null     object
 3   Uninsured Rate Change (2010-2015)             52 non-null     object
 4   Health Insurance Coverage Change (2010-2015)  52 non-null     int64
 5   Employer Health Insurance Coverage (2015)     52 non-null     int64
 6   Marketplace Health Insurance Coverage (2016)  52 non-null     int64
 7   Marketplace Tax Credits (2016)                52 non-null     float64
 8   Average Monthly Tax Credit (2016)             52 non-null     int64
 9   State Medicaid Expansion (2016)               52 non-null     bool
 10  Medicaid Enrollment (2013)                    50 non-null     float64
 11  Medicaid Enrollment (2016)                    52 non-null     int64
 12  Medicaid Enrollment Change (2013-2016)        50 non-null     float64
 13  Medicare Enrollment (2016)                    52 non-null     int64
dtypes: bool(1), float64(3), int64(6), object(3), string(1)
memory usage: 5.5+ KB

<h1> 5 Convert one column to datetime

In [13]:
Surescripts_Network['Period'] = pd.to_datetime(Surescripts_Network['Period'])
Surescripts_Network.head()

,Region,Region Code,County Name,State FIPS,County FIPS,FIPS,Period,Percent of Physicians Actively Using an EHR to e-Prescribe via the Surescripts Network
0,Alabama,AL,Autauga,1.0,1.0,1001.0,2014-04-01,0.33
1,Alabama,AL,Baldwin,1.0,3.0,1003.0,2014-04-01,0.68
2,Alabama,AL,Barbour,1.0,5.0,1005.0,2014-04-01,0.52
3,Alabama,AL,Bibb,1.0,7.0,1007.0,2014-04-01,1.00
4,Alabama,AL,Blount,1.0,9.0,1009.0,2014-04-01,0.21

In [14]:
aca_coverage.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 14 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   State                                         52 non-null     string
 1   Uninsured Rate (2010)                         52 non-null     object
 2   Uninsured Rate (2015)                         52 non-null     object
 3   Uninsured Rate Change (2010-2015)             52 non-null     object
 4   Health Insurance Coverage Change (2010-2015)  52 non-null     int64
 5   Employer Health Insurance Coverage (2015)     52 non-null     int64
 6   Marketplace Health Insurance Coverage (2016)  52 non-null     int64
 7   Marketplace Tax Credits (2016)                52 non-null     float64
 8   Average Monthly Tax Credit (2016)             52 non-null     int64
 9   State Medicaid Expansion (2016)               52 non-null     bool
 10  Medicaid Enrollment (2013)                    50 non-null     float64
 11  Medicaid Enrollment (2016)                    52 non-null     int64
 12  Medicaid Enrollment Change (2013-2016)        50 non-null     float64
 13  Medicare Enrollment (2016)                    52 non-null     int64
dtypes: bool(1), float64(3), int64(6), object(3), string(1)
memory usage: 5.5+ KB

# Bonus removes spaces and removes the % from the Column
example we worked on in class

In [15]:
aca_coverage['Uninsured Rate Change (2010-2015)'] = aca_coverage['Uninsured Rate Change (2010-2015)'].str.replace(' ', '').str.rstrip("%")
aca_coverage.head()

,State,Uninsured Rate (2010),Uninsured Rate (2015),Uninsured Rate Change (2010-2015),Health Insurance Coverage Change (2010-2015),Employer Health Insurance Coverage (2015),Marketplace Health Insurance Coverage (2016),Marketplace Tax Credits (2016),Average Monthly Tax Credit (2016),State Medicaid Expansion (2016),Medicaid Enrollment (2013),Medicaid Enrollment (2016),Medicaid Enrollment Change (2013-2016),Medicare Enrollment (2016)
0,Alabama,14.6%,10.1%,-4.5,215000,2545000,165534,152206.0,310,False,799176.0,910775,111599.0,989855
1,Alaska,19.9%,14.9%,-5,36000,390000,17995,16205.0,750,True,122334.0,166625,44291.0,88966
2,Arizona,16.9%,10.8%,-6.1,410000,3288000,179445,124346.0,230,True,1201770.0,1716198,514428.0,1175624
3,Arkansas,17.5%,9.5%,-8,234000,1365000,63357,56843.0,306,True,556851.0,920194,363343.0,606146
4,California,18.5%,8.6%,-9.9,3826000,19552000,1415428,1239893.0,309,True,7755381.0,11843081,4087700.0,5829777

Get some stats from the dataframe



1.   Find the min, max, and mean for the columns you converted to float, int, and date time. 
2.   Find the distinct values for the sting column. 
3.   Find the true ratio in the bool column.

<h1> 1 Find the min, max, and mean for the columns you converted to float, int, and date time.

In [16]:
# Does the whole dataframe
aca_coverage.min()
aca_coverage.max()
# only does the colum:  Health Insurance Coverage Change (2010-2015)
aca_coverage['Health Insurance Coverage Change (2010-2015)'].mean().round(2)

747942.31

<h1> 2 Find the distinct values for the sting column.

In [17]:
print(aca_coverage['State'].unique())

<StringArray>
[            'Alabama ',              'Alaska ',             'Arizona ',
            'Arkansas ',           'California',             'Colorado',
          'Connecticut',            'Delaware ', 'District of Columbia',
             'Florida ',             'Georgia ',               'Hawaii',
                'Idaho',            'Illinois ',             'Indiana ',
                'Iowa ',              'Kansas ',             'Kentucky',
           'Louisiana ',               'Maine ',             'Maryland',
        'Massachusetts',            'Michigan ',            'Minnesota',
         'Mississippi ',            'Missouri ',             'Montana ',
            'Nebraska ',               'Nevada',       'New Hampshire ',
          'New Jersey ',           'New Mexico',             'New York',
      'North Carolina ',        'North Dakota ',                'Ohio ',
            'Oklahoma ',               'Oregon',        'Pennsylvania ',
         'Rhode Island',      'South Carolina ',        'South Dakota ',
           'Tennessee ',               'Texas ',                'Utah ',
              'Vermont',            'Virginia ',           'Washington',
       'West Virginia ',           'Wisconsin ',              'Wyoming',
        'United States']
Length: 52, dtype: string

<h1> 3 Find the true ratio in the bool column.

In [18]:
aca_coverage['State Medicaid Expansion (2016)'].value_counts(normalize=True).mul(100).round(2).astype(str)+'%'

True     63.46%
False    36.54%
Name: State Medicaid Expansion (2016), dtype: object